/* * body{
    background-color: blueviolet;
} * */
* p{
          color: green ;  
 }
 span{
    color: black;
 }
 #sum{
    color: blue;
 }
 #dov{
    color: red;
 }
 #uni{
    color: green;
 }
 v{
    color: black;
 }
 .text-pink
 {
    color: pink;
 }
 .text-orange{
    color: orange;
 }
 .bg-dark{
    background-color: black;
 } 
 .text-pink.bg-dark{
   background-color: rgb(48, 47, 47);
 }
 .vusal p{
   color: red;
 }
 /* *{
    color: yellow;
    background-color: green;
   }
   span{
    color: black;
   } */