body{
    background-color: blueviolet;
}
p{
          color: green;  
 }
 span{
    color: black;
 }
 #sum{
    color: blue;
 }
 #dov{
    color: red;
 }
 #uni{
    color: green;
 }
 #v{
    color: black;
 }
 .text-pink
 {
    color: pink;
 }
 .text-orange{
    color: orange;
 }
 .bg-dark{
    background-color: black;
 }